<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <iisnode node_env="production" nodeProcessCommandLine="node.exe" debuggingEnabled="false" devErrorsEnabled="true" loggingEnabled="true" logDirectory="iisnode" />
    
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
        <rule name="Redirect to https" stopProcessing="true">
                <match url=".*" />
        <conditions>
                        <add input="{HTTPS}" pattern="off" />
        </conditions>
            <action type="Redirect" url="https://intranet.aacd.org.br" appendQueryString="false" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
        <httpRedirect enabled="false" destination="https://portaldedados.aacd.org.br/" />
  </system.webServer>
  
  <appSettings>
    <add key="PORT" value="3000" />
  </appSettings>
</configuration>